<h3>{{titulo}}</h3>
<hr>

<form #formProducto="ngForm" (submit)="onSubmit()" id="formulario-add">
    <label>Nombre
        <span *ngIf="!nombre.valid && nombre.touched" class="label label-danger">
            El nombre es obligatorio
        </span>
    </label>
    <input type="text" #nombre="ngModel" name="nombre" 
        [(ngModel)]="producto.nombre" class="form-control" required>
    <label>Descripcion
            <span *ngIf="!descripcion.valid && descripcion.touched" class="label label-danger">
                    La descripcion es obligatoria
            </span>
    </label>
    <textarea class="form-control" #descripcion="ngModel" 
        name="descripcion" [(ngModel)]="producto.descripcion" required></textarea>
    <label>Precio
            <span *ngIf="!precio.valid && precio.touched" class="label label-danger">
                    El precio es obligatorio
            </span>
    </label>
    <input type="text" class="form-control" #precio="ngModel" name="precio"
        [(ngModel)]="producto.precio" required>
    <label>Imagen</label>
    <div *ngIf="is_edit">
        <img src="http://localhost/api_jaco/storage/app/uploads/imagenes/{{producto.imagen}}"
        style="width: 90px;height:90px">
    </div>
    <input type="file" class="form-control" (change)="fileChangeEvent($event)">

    <input type="submit" value="{{titulo}}" [disabled]="!formProducto.form.valid" class="btn btn-success">
</form>